
.btn {
  height: rem(50);
  line-height: rem(40);
  outline: 0;
  padding: 0 rem(40);
  text-align: center;
  text-decoration: none;
  width: auto;
  white-space: nowrap;
  -webkit-appearance: none;

  background-color: $white;
  border-radius: 32px;
  border: 4px solid #8931d6;
  color: #000000;
  cursor: pointer;
  font-family: $medium;
  font-size: rem(26);

  &:hover {
    background-color: $white;
    cursor: pointer;
    text-decoration: none;
    transform: scale(1.05) translateY(-4px);
  }

  transition: all 0.1s ease-in-out 0s, box-shadow 0.3s ease-in-out 0s;

  &:focus {
    box-shadow: #dbb3ff 0px 0px 0px 3px;
    outline: none;
  }  
}

.btn-special {
  
}

.btn.icon {
  display: inline-block;
  line-height: 48px;
  font-size: 20px;
  padding: 0;
  border-radius: rem(48);
  height: rem(48);
  width: rem(48);
}
