
@font-face {
	font-family: 'Circular Std';
	src: url('../fonts/CircularStd-Black.eot');
	src: url('../fonts/CircularStd-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/CircularStd-Black.woff') format('woff'),
		url('../fonts/CircularStd-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'MarvinVisions Bold';
	src: url('../fonts/MarvinVisions-Bold.eot');
	src: url('../fonts/MarvinVisions-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MarvinVisions-Bold.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}