header {
  color: $black;
  padding-top: rem(100);
  position: relative;

  h1 {
    font-family: $medium;
    position: relative;
    margin-bottom: rem(24);
  }
}

@include bp(mobile) {
  header {
    padding-top: rem(60);
    .site-h1 {
      font-size: 30px;
    }
    
    .site-h2 {
      font-size: 60px;
      margin-bottom: rem(35);
      line-height: 1;
    }
  }
}