.section-header-inline {
  display: flex;
  flex-direction: row;
  align-items: center;

  .section-icon {
    margin-bottom: 0;
  }
  h2 {
    margin: 0 0 0 rem(32);
  }
}


@include bp(mobile) {
  .section-icon {
    width: 50px;
  }
  .section-icon--brain {
    width: 70px;
  }
}

.content-row {
  padding: rem(80) 0;
  padding-bottom: 0;
  position: relative;
  a {
    background-color: #4A4A4A;
    color: #FFD117;
    padding: 0 rem(2);
    &:hover {
      text-decoration: none;
    }

    transition: box-shadow 0.3s ease-in-out 0s;
    &:focus {
      box-shadow: #a28613 0px 0px 0px 3px;
      outline: none;
    }
  }
}

.content-row.beige {
  padding-top: 0;
  
  p {
    color: #D9C8AD;
  }
  p em {
    color: #FF576F;
  }
}

.content-row.blue {
  background-color: #44B9ED;

  p {
    color: $black;
  }

  a {
    background-color: #0B9CDC;
    color: $white;

    transition: box-shadow 0.3s ease-in-out 0s;
    &:focus {
      box-shadow: #217fa9 0px 0px 0px 3px;
      outline: none;
    }
  }
}

.content-row.yellow {
  background-color: #FFD117;
  padding: rem(80) 0;
}

.flex-spaced {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.content-row.paper {
  background-color: #D9C8AD;
}
