.u-spacing-4x {
  margin-bottom: rem(64);
}

.section-header-inline {
  display: flex;
  flex-direction: row;
  align-items: center;

  h2 {
    margin: 0 0 0 rem(32);
  }
}

.centered {
  .section-header {
    margin-bottom: rem(70);
    .section-icon {
      margin-bottom: rem(40);
    }
  }

  p,
  .section-header,
  .section-header .section-title {
    text-align: center;
  }
}

.content-row {
  padding: rem(80) 0;

  a {
    background-color: #4A4A4A;
    color: #FFD117;
    padding: 0 rem(2);
    &:hover {
      text-decoration: none;
    }

    transition: box-shadow 0.3s ease-in-out 0s;
    &:focus {
      box-shadow: #a28613 0px 0px 0px 3px;
      outline: none;
    }
  }

}

.content-row.beige {
  padding-bottom: rem(70);
  padding-top: 0;
  
  p {
    color: #D9C8AD;
  }
  p em {
    color: #FF576F;
  }
}

.content-row.blue {
  background-color: #44B9ED;

  p {
    color: $black;
  }

  a {
    background-color: #0B9CDC;
    color: $white;

    transition: box-shadow 0.3s ease-in-out 0s;
    &:focus {
      box-shadow: #217fa9 0px 0px 0px 3px;
      outline: none;
    }
  }
}

.content-row.yellow {
  background-color: #FFD117;
}

.content-row.pink {
  background-color: #FF576F;

  em {
    border-bottom: 4px solid; 
  }
}

.content-primary {
  padding: rem(80) 0;
}

.l-break-top {
  margin-top: rem(60);
}
