<section class="content-row blue">
  <div class="f-grid f-row">
    <div class="f-1">
      <p>Currently...</p> 
      <p>I work at the Commonwealth Bank of Australia making use of ReactJS and the latest
        in Javascript to build complex and engaging web applications.</p>
      <p>I also like to collaborate on sites and recently built <a href="http://www.lifewithoutandy.com" target="_blank">lifewithoutandy.com</a> - a customised
        Wordpress site with a global fan base.</p>
      <p>To contact me please email <a mailto="raulfelixcarrizo@gmail.com">raulfelixcarrizo@gmail.com</a></p>
    </div>
  </div>
</section>