<header>
  <div class="f-grid f-row">
    <div class="f-1">
       <h1>Raul Felix Carrizo</h1>
      <h6>Front End Software Engineer/UX Specialist</h6>
      
      <section class="download">
        <a class="downloadable" href="{{ site.url }}/assets/downloads/carrizo_resume.docx">
          <span>Download resume</span><strong>.docx</strong>
        </a>
        <a class="downloadable" href="{{ site.url }}/assets/downloads/carrizo_resume.pdf">
          <span>Download resume</span><strong>.pdf</strong>
        </a>
      </section>
    </div>
  </div>
</header>