<section class="content-primary content-break">
  <div class="f-grid f-row">
    <div class="f-1-2 bp-s-1">
      <h2 class="site-h2">The human...</h2>
      <ul>
        <li>Football is my first love.</li>
        <li>I speak Spanish and Italian.</li>
        <li>I like to listen more than I like speaking.</li>
        <li>I’m not adventurous with food.</li>
        <li>I’ll have 1 Peroni... maybe 2.</li>
        <li>I wish Australia had a space program.</li>
        <li>My last holiday was to Bosnia, Spain and England.</li>
      </ul>
    </div>
    <div class="f-1-2 bp-s-1 human-quote">
      <p>This section replaced my professional history as I think knowing who you work with is more valuable information…</p>
    </div>
  </div>
</section>