
@font-face {
	font-family: 'Circular Std';
	src: url('../assets/fonts/CircularStd-Black.eot');
	src: url('../assets/fonts/CircularStd-Black.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/CircularStd-Black.woff') format('woff'),
		url('../assets/fonts/CircularStd-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'MarvinVisions Bold';
	src: url('../assets/fonts/MarvinVisions-Bold.eot');
	src: url('../assets/fonts/MarvinVisions-Bold.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/MarvinVisions-Bold.woff') format('woff'),
		url('../assets/fonts/MarvinVisions-Bold.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}