
.btn {
  height: rem(50);
  line-height: rem(40);
  outline: 0;
  padding: 0 rem(40);
  text-align: center;
  text-decoration: none;
  width: auto;
  white-space: nowrap;
  -webkit-appearance: none;

  background-color: $white;
  border-radius: 32px;
  border: 4px solid #000;
  color: #000000;
  cursor: pointer;
  font-family: $medium;
  font-size: rem(26);

  &:hover {
    background-color: $white;
    cursor: pointer;
    text-decoration: none;
  }
}

.btn.icon {
  display: inline-block;
  line-height: 48px;
  font-size: 20px;
  padding: 0;
  border-radius: rem(48);
  height: rem(48);
  width: rem(48);
}

input {
  border: 1px solid #F0F0F0;
  font-size: 14px;
  font-family: $light;
  padding: rem(10);
  width: rem(320);
  
//  &:active, &:focus {
//    border: 1px solid #8bedff;
//  }
}


.input-inline {
  position: relative;
  
  input {
    position: absolute;
    top: rem(-10);
    right: 0;
  }
}