header {
  background-color: #7A909A;
  height: rem(184);
  color: $white;
  position: relative;
  
  div {
    height: 100%;
  }
  
  h1 {
    margin-top: rem(85);
  }
  
  .download {
    position: absolute;
    bottom: rem(38);
    right: rem(10);
  }
  
  .downloadable {
    font-size: 14px;
    background-color: rgba(0,0,0,0.05);
    color: $white;
    margin-left: rem(10);
    
    &:hover {
      background-color: rgba(0,0,0,0.1);
    }
  }
}

@include bp(mobile) {
  header {
    h1 {
      margin-top: rem(60);
    }
    
    .download {
      bottom: rem(10);
      right: auto;
      left: rem(5);
    }
  }
  
  header .downloadable {
    margin: 0 rem(10) 0 0;
  }
}