header {
  height: rem(184);
  color: $black;
  position: relative;

  div {
    height: 100%;
  }
  
  h1 {
    font-family: $medium;
    margin-top: rem(85);
  }

  h6:after {
    content: '';
    background-color: #E8E8E8;
    display: block;
    height: 1px;
    margin-top: 40px;
    width: 100px;
  }

  .section-download {
    position: absolute;
    top: 50%;
    right: rem(10);
  }

  .btn {
    border-radius: 32px;
    border: 1px solid $black;
    color: $black;
    display: block;
    font-size: 14px;
    padding: rem(12) rem(24);

    &:hover {
      background-color: rgba(0,0,0,0.1);
      text-decoration: none;
    }
  }
}

@include bp(mobile) {
  header {
    h1 {
      margin-top: rem(60);
    }

    .section-download {
      top: rem(185);
      right: auto;
      .btn {
        font-size: 14px;
      }
    }
  }
}