//
// Post list preview
//
.preview {
  margin-bottom: rem(40);
}

.preview {
  color: $black;
  display: block;
  margin-bottom: rem(40);
  padding: rem(20);

  &:hover {
    background-color: $emphasis;
    text-decoration: none;
  }

  .preview-title {
    font-family: $medium;
    margin-bottom: rem(6);
  }

  .preview-title,
  .preview-subtitle {
    display: block;
    font-size: rem(16);
  }

}


.content-post {
  padding-bottom: rem(60);

  p + h2 {
    margin-top: rem(50);
  }
}