a {
  color: #0091EA;
  
  &:hover {
    text-decoration: underline;
  }
}

strong {
  font-family: $medium;
  font-weight: normal;
}

.site-h1 {
  font-family: $medium;
  font-size: 32px;
}

.site-h2 {
  font-size: 20px;
  font-family: $medium;
  margin-bottom: rem(50);
}

h1 {
  font-size: 30px;
  font-family: $medium;
  line-height: rem(40);
}

h2 {
  font-size: rem(20);
  font-family: $medium;
  line-height: rem(30);
  margin-bottom: rem(30);
}

h3 {
  font-size: rem(16);
  font-family: $medium;
  line-height: rem(30);
}

h4 {
  font-family: $medium;
  font-size: rem(20);
  line-height: rem(28);
}


h5 {
  font-size: 18px;
  margin-bottom: rem(60);
}


//
// Emphasis within the text body
//
em {
  font-style: normal;
  padding: 0 rem(2);
  background-color: $emphasis;
}

h6, .h6 {
  font-family: $medium;
  font-size: 16px;
}

.h6 {
  padding: 0;
}

ul li {
  font-size: 16px;
  margin-bottom: rem(16);
}

p {
  font-size: 18px;
  margin-bottom: rem(20);
  line-height: 1.6;

}

.content-post {
  p {
    font-size: 20px;
    code {
      background-color: #EDEDED;
      padding: 2px 3px;
    }
  }
  
  pre {
    background-color: #EDEDED;
    color: #000;
    padding: rem(20) rem(40);

    code {
      font-size: rem(16);
    }
  }

  .highlight + p {
    margin-top: rem(40);
  }
}

.content-primary {

  p {
    font-size: 16px;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.content-secondary {
  p, li {
    font-size: 14px;
  }
  
  .link {
    background-color: transparent;
  }
}

p.small {
  font-size: 12px;
  line-height: 1.5;
}