---
layout: default
title: Raul Felix Carrizo
---

<!DOCTYPE html>

<html>

{% include head.html %}

<body>
  
  {% include header.html %}
  
  <div class="content">
    <section class="content-primary">
      <div class="f-grid f-row">
        <div class="f-1">
          {{ content }}
        </div>
      </div>
    </section>

    {% include human.html %}
    {% include engineer.html %}
    {% include footer.html %}

    <!--section class="content-primary">
      <div class="f-grid f-row">
        <div class="f-1">
          <h2>Education</h2>
          
          <div class="data">
            <h6>Bachelor of Software Engineering</h6>
            <p>The University of Sydney</p>
            <a class="downloadable" href="{{ site.url }}/assets/downloads/advanced_engineering_offer.jpg" target="_blank">
              <span>Advanced engineering offer</span>
            </a>
          </div>
          
          <h2 class="l-break-top">Certifications/Conferences</h2>
          <div class="data">
            <h6>Ruby Conference</h6>
            <p>Australia - 2014</p>
            <a class="downloadable" href="http://www.rubyconf.org.au/2014" target="_blank">
              View the topics
            </a>
          </div>
          <div class="data">
            <h6>Agile delivery phase</h6>
            <p>Agile Academy, Suncorp Group - 2011</p>
            <a class="downloadable" href="{{ site.url }}/assets/downloads/agile_cert.jpg" target="_blank">
              <span>Certificate</span>
            </a>
          </div>
        </div>
      </div>
    </section-->

    <!--section class="content-secondary">
      <div class="f-grid f-row">
        <div class="f-1">
          <h2>Professional experience</h2>
          
          {% for post in site.posts %}
            {% include work.html %}
          {% endfor %}
        </div>
      </div>
    </section-->


  </div>

  <!-- TODO concat vendor and app scripts -->
  <script type="text/javascript" src="{{ site.url }}/assets/js/nav.js"></script>
  <script type="text/javascript" src="{{ site.url }}/assets/js/vocalize.js"></script>

</body>
  
</html>